@import "@scss/variables";
.project-card {
  background: $white;
  border-radius: 8px;
  height: 11rem;
  width: 11rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  &_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &_bottom {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    & > * {
      margin: 0.25rem 0;
    }
    .role {
      font-weight: 600;
      color: $secondary;
      font-size: 1rem;
    }
    .progress {
      font-weight: 600;
      color: $secondary;
      font-size: 1rem;
    }
    .whom {
      font-weight: 400;
      font-size: 0.75rem;
    }
  }
}
