/* B&W */
$black: #000;
$white: #fff;
$grey: #f3f2f9;
$grey-light: #f3f2f9;

/* Main palette */
$primary: #ac37b5;
$primary-transparent: rgba(172, 55, 181, 0.2);
$secondary: #161c3d;
$secondary-transparent: rgba(22, 28, 61, 0.2);

/* Other */
$success: #39de54;
$warning: #ff333f;
$alert: #ff9533;
$info: #3366ff;
$warning-transparent: rgba(255, 51, 63, 0.2);
$success-transparent: rgba(57, 222, 84, 0.2);
$alert-transparent: rgba(255, 149, 51, 0.2);
$info-transparent: rgba(51, 102, 255, 0.2);
$border-color: #e6e6e6;
